.popup {
    display: none;
    padding: 18px;
    position: fixed;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
  }
  
  .popup_opened {
    display: flex;
  }
  
  .popup__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    width: 100%;
    min-height: fit-content;
    position: relative;
    border: 5px solid rgba(43, 224, 128, 1);    
    background-color: white;
  }
  
  .popup__header {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: black;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  .popup_image {
    height: 30vh;
  }
  
  .popup__button-close {
    position: absolute;
    left: 290px;
    top: -30px;
    width: 22px;
    min-height: 22px;
    outline: none;
    border: none;
    background: transparent url('../images/d3.svg') center center / cover no-repeat;
    transition: opacity 0.3s linear;
    cursor: pointer;
  }
  
  .popup__button-close:hover {
    opacity: 0.8;
  }
  
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .popup {
      padding: 3px;
    }
  
    .popup__box {
      max-width: 235px;
    }
  
    .popup__header {
      max-width: 220px;
      font-size: 18px;
    }
  
    .popup__button-close {
      left: 235px;
      top: -20px;
    }
  }