.header {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: green;
    font-size: 21px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
}